* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Englebert', sans-serif;
    text-align: center;
}

header {
    background-color: azure;
    height: 70px;
}

h1 {
    color: red;
    padding: 10px;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 30px;
}

button {
    font-family: 'Englebert', sans-serif;
    margin: 5px;
    padding: 5px;
    height: 30px;
    width: 50px;
    cursor: pointer;
}

#gamespace {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-screen {
    margin: auto;
    background-color: blanchedalmond;
    height: 350px;
    width: 250px;
    line-height: 60px;
    position: absolute;
    visibility: hidden;
}

#notice-screen {
    margin: auto;
    background-color: blanchedalmond;
    height: 350px;
    width: 250px;
    line-height: 60px;
    position: absolute;
    visibility: visible;
    font-size: 3em;
}

#game-buttons{
    margin: auto;
    padding: 5px;
    height: 30px;
    width: 200;
    line-height: 20px;
    text-align: center;    
}

#game-buttons button {
    border-radius: 50%;
}

#start {
    font-family: 'Englebert', sans-serif;
    padding: 5px;
    height: 30px;
    width: 100px;
    line-height: 20px;
    text-align: center;
}

img {
    width: 500px;
    height: 100%;
    border-radius: 50%;
}

#pet-name {
    font-family: 'Englebert', sans-serif;
    width: 200px;
    padding: 5px;
}

#baby, #child, #teen, #adult, #dead {
    width: 300px;
    height: 300px;
    transition: all 0.2s ease-in-out;
}

#baby:hover {
    transform: rotateZ(-30deg);
}

#child:hover {
    transform: rotateZ(-30deg);
}

