* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Englebert', sans-serif;
    text-align: center;
    background-color: rgb(183, 247, 247);
    height: auto;
    overflow: auto;
}

header {
    height: 100%;
}

h1 {
    color: orange;
    padding: 15px;
    margin: 10px;
    font-size: 4em;
}

#header_string {
    padding-bottom: 15px;
    line-height: 100%;
    text-align: center;
}

ul {
    list-style-type: none;
    line-height: 100%;
    margin-bottom: 10px;
}

li {
    font-size: 1.5em;
    display: inline;
    padding: 10px 30px 10px 30px;
    color: #b37514;
}

button {
    font-family: 'Englebert', sans-serif;
    background-color: #3C412C;
    color: azure;
    margin: 5px;
    padding: 5px;
    height: 40px;
    width: 60px;
    cursor: pointer;
    outline: none;
}

#gamespace {
    height: 550px;
    display: flex;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#frame {
    width: 400px;
    height: 550px;
    border-radius: 50%;
    position: absolute;
    -webkit-box-shadow: 14px 17px 19px 3px rgba(0,0,0,0.6);
    -moz-box-shadow: 14px 17px 19px 3px rgba(0,0,0,0.6);
    box-shadow: 14px 17px 19px 3px rgba(0,0,0,0.6);
}

#game_screen {
    margin: auto;
    background-color: #A8C64E;
    height: 350px;
    width: 250px;
    line-height: 60px;
    position: absolute;
    visibility: hidden;
    border-radius: 20px;
    display: flex;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 10px 10px 29px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 10px 10px 29px 0px rgba(0,0,0,0.6);
    box-shadow: inset 10px 10px 29px 0px rgba(0,0,0,0.6);
}

#notice_screen {
    margin: auto;
    background-color: #A8C64E;
    height: 350px;
    width: 250px;
    line-height: 60px;
    position: absolute;
    visibility: visible;
    border-radius: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 10px 10px 29px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 10px 10px 29px 0px rgba(0,0,0,0.6);
    box-shadow: inset 10px 10px 29px 0px rgba(0,0,0,0.6);
}

#start_button {
    font-family: 'Englebert', sans-serif;
    padding: 5px;
    height: 60px;
    width: 130px;
    line-height: 60px;
    text-align: center;
    background-color: #3C412C;
    color: azure;
    font-size: 1.5em;
    border-radius: 5px;
}

input {
    background-color: azure;
    height: 50px;
    width: 200px;
    line-height: 60px;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Englebert', sans-serif;
    color: #3C412C;
}

#pet-name {
    font-family: 'Englebert', sans-serif;
    height: 50px;
    width: 200px;
    padding: 5px;
    line-height: 50px;
    background-color: #3C412C;
    color: azure;
    font-size: 1.2em;
    border-radius: 5px;
}

#game-buttons{
    margin-bottom: 50px;
    padding: 5px;
    height: 30px;
    width: 200;
    line-height: 20px; 
    position: absolute;
    align-self: flex-end;   
}

#game-buttons button {
    background-color:black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: azure;
    font-size: 1.2em;
    text-align: center;
    line-height: 35px;
    -webkit-box-shadow: 6px 4px 23px 0px rgba(0,0,0,0.78);
    -moz-box-shadow: 6px 4px 23px 0px rgba(0,0,0,0.78);
    box-shadow: 6px 4px 23px 0px rgba(0,0,0,0.78);
}

.message {
    color:#3C412C;
    font-size: 1.3em;
    line-height: 17px;
}

img {
    height: 250px;
    width: 150px;
    align-self: center;
}

#baby_img {
    background: url('yeti.png') no-repeat -347px -90px;
	width: 66px;
	height: 68px;
    zoom: 2;
    animation: shake 1s;
    animation-iteration-count: infinite;
}

#baby_img.sleep {
    background: url('yeti.png') no-repeat -347px -90px;
	width: 66px;
	height: 68px;
    zoom: 2;
    animation: none;
}

#baby_play {
    background: url('yeti.png') no-repeat -347px -90px;
	width: 66px;
	height: 68px;
    zoom: 2;
    animation-name: youngplay;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

#child_img {
    background: url('yeti.png') no-repeat -826px -13px;
	width: 61px;
	height: 68px;
    zoom: 2.5;
    animation: shake 1s;
    animation-iteration-count: infinite;
}

#child_img.sleep {
    background: url('yeti.png') no-repeat -826px -13px;
	width: 61px;
	height: 68px;
    zoom: 2.5;
    animation: none;
}

#child_play {
    background: url('yeti.png') no-repeat -826px -13px;
	width: 61px;
	height: 68px;
    zoom: 2.5;
    animation-name: youngplay;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

#teen_img {
    background: url('yeti.png') no-repeat -159px -170px;
	width: 158px;
	height: 149px;
    zoom: 1.2;
    animation: shake 1s;
    animation-iteration-count: infinite;
}

#teen_img.sleep {
    background: url('yeti.png') no-repeat -159px -170px;
	width: 158px;
	height: 149px;
    zoom: 1.2;
    animation: none;
    
}

#teen_play {
    background: url('yeti.png') no-repeat -159px -170px;
	width: 158px;
	height: 149px;
    zoom: 1.2;
    animation-name: youngplay;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

#adult_img {
    background: url('yeti.png') no-repeat -323px -331px;
	width: 153px;
	height: 148px;
    zoom: 1.5;
    animation: shake 1s;
    animation-iteration-count: infinite;
}

#adult_img.sleep {
    background: url('yeti.png') no-repeat -323px -331px;
	width: 153px;
	height: 148px;
    zoom: 1.5;
    animation: none;
}

#adult_play {
    background: url('yeti.png') no-repeat -323px -331px;
	width: 153px;
	height: 148px;
    zoom: 1.5;
    animation-name: youngplay;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

#dead_img {
    background: url('yeti.png') no-repeat -183px -127px;
	width: 69px;
	height: 33px;
    zoom: 3.5;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes youngplay {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }